Worksheet8_prof/WindowsClient/Service References/AuthServiceReference/AuthService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="AuthService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1871/AuthService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1871/AuthService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1871/AuthService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AuthService" />
      <xsd:import schemaLocation="http://localhost:1871/AuthService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAuthService_VerifyAcessToBD_InputMessage">
    <wsdl:part name="parameters" element="tns:VerifyAcessToBD" />
  </wsdl:message>
  <wsdl:message name="IAuthService_VerifyAcessToBD_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerifyAcessToBDResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthService_GetUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="IAuthService_GetUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthService_GetUsersByCertificate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersByCertificate" />
  </wsdl:message>
  <wsdl:message name="IAuthService_GetUsersByCertificate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersByCertificateResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthService_GetUserDescription_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserDescription" />
  </wsdl:message>
  <wsdl:message name="IAuthService_GetUserDescription_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserDescriptionResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthService_UpdateUserDescription_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserDescription" />
  </wsdl:message>
  <wsdl:message name="IAuthService_UpdateUserDescription_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserDescriptionResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthService_UpdateUserDescriptionByCertificate_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserDescriptionByCertificate" />
  </wsdl:message>
  <wsdl:message name="IAuthService_UpdateUserDescriptionByCertificate_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserDescriptionByCertificateResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthService_GetHashs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHashs" />
  </wsdl:message>
  <wsdl:message name="IAuthService_GetHashs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHashsResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthService_Test_InputMessage">
    <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="IAuthService_Test_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthService_UpdateUserPasswordByCertificate_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserPasswordByCertificate" />
  </wsdl:message>
  <wsdl:message name="IAuthService_UpdateUserPasswordByCertificate_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserPasswordByCertificateResponse" />
  </wsdl:message>
  <wsdl:portType name="IAuthService">
    <wsdl:operation name="VerifyAcessToBD">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthService/VerifyAcessToBD" message="tns:IAuthService_VerifyAcessToBD_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthService/VerifyAcessToBDResponse" message="tns:IAuthService_VerifyAcessToBD_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthService/GetUsers" message="tns:IAuthService_GetUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthService/GetUsersResponse" message="tns:IAuthService_GetUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsersByCertificate">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthService/GetUsersByCertificate" message="tns:IAuthService_GetUsersByCertificate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthService/GetUsersByCertificateResponse" message="tns:IAuthService_GetUsersByCertificate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserDescription">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthService/GetUserDescription" message="tns:IAuthService_GetUserDescription_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthService/GetUserDescriptionResponse" message="tns:IAuthService_GetUserDescription_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserDescription">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthService/UpdateUserDescription" message="tns:IAuthService_UpdateUserDescription_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthService/UpdateUserDescriptionResponse" message="tns:IAuthService_UpdateUserDescription_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserDescriptionByCertificate">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthService/UpdateUserDescriptionByCertificate" message="tns:IAuthService_UpdateUserDescriptionByCertificate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthService/UpdateUserDescriptionByCertificateResponse" message="tns:IAuthService_UpdateUserDescriptionByCertificate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHashs">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthService/GetHashs" message="tns:IAuthService_GetHashs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthService/GetHashsResponse" message="tns:IAuthService_GetHashs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthService/Test" message="tns:IAuthService_Test_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthService/TestResponse" message="tns:IAuthService_Test_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserPasswordByCertificate">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthService/UpdateUserPasswordByCertificate" message="tns:IAuthService_UpdateUserPasswordByCertificate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthService/UpdateUserPasswordByCertificateResponse" message="tns:IAuthService_UpdateUserPasswordByCertificate_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAuthService" type="tns:IAuthService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VerifyAcessToBD">
      <soap:operation soapAction="http://tempuri.org/IAuthService/VerifyAcessToBD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap:operation soapAction="http://tempuri.org/IAuthService/GetUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsersByCertificate">
      <soap:operation soapAction="http://tempuri.org/IAuthService/GetUsersByCertificate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserDescription">
      <soap:operation soapAction="http://tempuri.org/IAuthService/GetUserDescription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserDescription">
      <soap:operation soapAction="http://tempuri.org/IAuthService/UpdateUserDescription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserDescriptionByCertificate">
      <soap:operation soapAction="http://tempuri.org/IAuthService/UpdateUserDescriptionByCertificate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHashs">
      <soap:operation soapAction="http://tempuri.org/IAuthService/GetHashs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap:operation soapAction="http://tempuri.org/IAuthService/Test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserPasswordByCertificate">
      <soap:operation soapAction="http://tempuri.org/IAuthService/UpdateUserPasswordByCertificate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuthService">
    <wsdl:port name="BasicHttpBinding_IAuthService" binding="tns:BasicHttpBinding_IAuthService">
      <soap:address location="http://localhost:1871/AuthService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>