Worksheet10/WindowsClient/Service References/authServiceReference/BankService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1871/BankService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AuthService" />
  <xs:element name="GetBalance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pkcs7Base64" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBalanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AuthService" minOccurs="0" name="GetBalanceResult" nillable="true" type="q1:BalanceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>