Worksheet10/WindowsClient/Service References/authServiceReference/BankService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AuthService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AuthService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BalanceResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BankServiceResponse">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BalanceResponse" nillable="true" type="tns:BalanceResponse" />
  <xs:complexType name="BankServiceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusCode" type="tns:StatusCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BankServiceResponse" nillable="true" type="tns:BankServiceResponse" />
  <xs:simpleType name="StatusCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OK" />
      <xs:enumeration value="AuthenticationError" />
      <xs:enumeration value="AuthorizationError" />
      <xs:enumeration value="CryptograficError" />
      <xs:enumeration value="DatabaseError" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="StatusCode" nillable="true" type="tns:StatusCode" />
</xs:schema>